.App {
  text-align: center;
  font-family: "Metal Mania", cursive;
}

@media only screen and (max-width: 700px) {
  .App {
    display: inline;
  }
  img {
    vertical-align: middle;
    display: contents;
  }
  .Instruction {
    padding: 10px;
  }
  .button {
    display: none;
  }
  #root-id {
    display: none;
  }
}

.Header {
  background-color: black;
}

.Nav {
  border: 1px solid black;
  flex-direction: column;
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(255 255 255 / 55%);
}
.navbar-light .navbar-nav .nav-link:hover {
  color: red;
}

.Instruction {
  display: inline-table;
  color: white;
  text-align: center;
  height: 750px;
  padding: 10rem;
  background-image: url("/public/grunge-scratched-cracked-texture-background.jpg");
  background-repeat: repeat;
  background-size: 120rem;
}

.Instruction img {
  height: 20rem;
}

#root-id {
  background-image: url("/public/grunge-scratched-cracked-texture-background.jpg");
  background-repeat: repeat;
  background-size: 120rem;
}
#user-icon {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: floralwhite;
}
#user-icon img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 5px;
}

#google {
  background-color: black;
  width: 300px;
}
#scores {
  border: 1px solid black;
  margin: 5px;
  padding: 1rem;
}

#about {
  border: 1px solid black;
  margin: 5px;
  padding: 1rem;
}

#root-id {
  border: 1px solid black;
  padding: 1rem;
}

.Footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #222;
  color: #fff;
  padding: 1rem;
  text-align: center;
}
.Footer a {
  color: #fff;
  text-decoration: none;
}
.Scores {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  align-items: center;
}

.ScoreBoard {
  grid-column: 2/4;
  text-align: center;
  align-items: center;
}

.HighScoreBoard {
  text-align: center;
  align-items: center;
}

.HighScoreBoard ol {
  padding: 0;
  margin-left: 3rem;
}

.HighScoreBoard li {
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.HighScoreBoard li:first-child {
  background-color: #ffd700;
  font-weight: bold;
}

.HighScoreBoard li:nth-child(2) {
  background-color: #c0c0c0;
}

.HighScoreBoard li:nth-child(3) {
  background-color: #cd7f32;
}

.HighScoreBoard li span {
  margin-left: 1rem;
  font-weight: normal;
  font-size: 1rem;
}
.LoadingSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.LoadingSpinner-icon {
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
