.App {
  text-align: center;
}

.Header {
  background-color: black;
}

.Nav {
  border: 1px solid black;
  flex-direction: column;
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(255 255 255 / 55%);
}
.Instruction {
  align-items: center;
  color: white;
  text-align: center;
  height: 750px;
  background-image: url("https://img.freepik.com/free-photo/grunge-scratched-cracked-texture-background_1048-15879.jpg?w=1380&t=st=1683301556~exp=1683302156~hmac=a26b2bccb53cb8030fd2d4f6e244c9d2d9306b7fcd0e05236c25c0218dfe6631");
}
#root-id {
  background-image: url("https://img.freepik.com/free-photo/grunge-scratched-cracked-texture-background_1048-15879.jpg?w=1380&t=st=1683301556~exp=1683302156~hmac=a26b2bccb53cb8030fd2d4f6e244c9d2d9306b7fcd0e05236c25c0218dfe6631");
}
#user-icon {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: floralwhite;
}
#user-icon img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 5px;
}

#google {
  background-color: black;
  width: 300px;
}
#scores {
  border: 1px solid black;
  margin: 5px;
  padding: 1rem;
}

#about {
  border: 1px solid black;
  margin: 5px;
  padding: 1rem;
}

#root-id {
  border: 1px solid black;
  padding: 1rem;
}

.Footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #222;
  color: #fff;
  padding: 1rem;
  text-align: center;
}
.Footer a {
  color: #fff;
  text-decoration: none;
}
.Scores {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  align-items: center;
}

.ScoreBoard {
  grid-column: 2/4;
  text-align: center;
  align-items: center;
}

.HighScoreBoard {
  text-align: center;
  align-items: center;
}

.HighScoreBoard ol {
  padding: 0;
  margin-left: 3rem;
}

.HighScoreBoard li {
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.HighScoreBoard li:first-child {
  background-color: #ffd700;
  font-weight: bold;
}

.HighScoreBoard li:nth-child(2) {
  background-color: #c0c0c0;
}

.HighScoreBoard li:nth-child(3) {
  background-color: #cd7f32;
}

.HighScoreBoard li span {
  margin-left: 1rem;
  font-weight: normal;
  font-size: 1rem;
}
